@page "/"
@inject IJSRuntime js





<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="  background-image: url('img/bg-masthead.jpg');
        background-size: cover;">
    <img class="img-fluid d-block mx-auto" style="width:25%;" src="img/Transparentmdpi.png" alt="">
</header>







<!-- #region Test Landing Page -->
<!-- Services-->
<section class="py-5 bg-dark text-white">
    <div class="container">
        <h1 class="text-warning">خدماتنا</h1>
        <p class=" mb-5">يوجد لدينا العديد من الخدمات المتنوعة ، نحن نسعى لأن نكون أقوى وأكبر تجمع حالات في الوطن العربي .</p>
        <div class="row">
            <div class="col-sm-6 col-lg-4 mb-3">
                <h2><i class="fas fa-video text-danger"></i></h2>
                <h4>حالات فيديو</h4>
                <p class="text-muted">هذه المقاطع تتميز بكونها قصيرة لاتتجاوز الدقيقة من اجل ان تكون حالات لبرامج التواصل مثل الواتس أب والإنستغرام وغيرها.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <h2><i class="fas fa-image text-danger"></i></h2>
                <h4>حالات صور</h4>
                <p class="text-muted">هناك الكثير من الصور المؤثرة والدينية وصور التحفيز وغيرها وجميعها من اجل خلفيات الموبايل او لنشرها كحالات.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <h2><i class="fas fa-quote-right text-danger"></i></h2>
                <h4>حالات كتابية</h4>
                <p class="text-muted">الحالات في موقعنا تتميز بتصنيفها ضمن حالات منوعة وكثيرة جداً ، هنا سوف تجد كل ما تتمناه من رسائل ومسجات واقتباسات جب.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <h2><i class="fas fa-mobile-alt text-danger"></i></h2>
                <h4>تطبيقات الهاتف</h4>
                <p class="text-muted">نعم لدينا تطبيقات للموبايل سواء على الأيفون او الاندرويد كل نوع من انواع الحالات لديه تطبيق خاص يحتوي جميع الحالات .</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <h2><i class="fas fa-mail-bulk text-danger"></i></h2>
                <h4>منشورات</h4>
                <p class="text-muted">هنا سوف تجد اخبار مفيدة قد تهمك، بالإضافة إلى الاخبار اللتي تتعلق بموقعنا ومشاريعنا.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <h2><i class="fas fa-icons text-danger"></i></h2>
                <h4>صفحات التواصل</h4>
                <p class="text-muted">من اجل ان لا تفوتو احدث الحالات تابعونا على مواقع التواصل الإجتماعي.</p>
            </div>
        </div>
    </div>
</section>



<!-- Hero Section-->
<section class="py-5 border-top bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1">
                <h1 class="text-warning">جميع أنواع الحالات العربية</h1>
                <p class="lead">نحن ننتقي أفضل الحالات ونجمعها لكم في مكان واحد، نتمنى لكم قضاء أوقات ممتعة. </p>

                <p>نحن فريق مكوّن من عدة شباب هدفنا ان نمتلك أكبر تجمع حالات عربية في الوطن العربي، لدينا العدين من تطبيقات الموبايل لتحميل الحالات العربية بجميع أنواعها <br /> (حالات فيديو - حالات صور - حالات كتابية) والمزيد..</p>

                <p>
                    <a href="/statistics" class="btn btn-danger shadow mr-2">مشاهدة الإحصائات</a>
                    <a href="#" class="btn btn-outline-danger">استكشاف المزيد</a>
                </p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2"><img src="img/7.jpg" alt="..." class="img-fluid rounded "></div>
        </div>
    </div>
</section>



<!-- #endregion -->
<!-- Content section -->
<section class="py-5 border-top text-center bg-dark text-white" >
    <div class="container">
        <h2 class="text-warning">حالات كتابية</h2>
        <p class="lead">إليكم بعض الحالات الكتابية هذه الحالات معروضة بشكل عشوائي للمزيد من التفاصيل إدخل إلى القسم الخاص بالحالات الكتابية.</p>
        <div class="text-dark">
        
            <InfiniteQuotes />

        </div>
    </div>
</section>

@*<AuthorizeView Roles="admin">
        <p>You can only see this if you're an admin.</p>
    </AuthorizeView>

    <AuthorizeView Roles="user">
        <p>You can only see this if you're an user.</p>
    </AuthorizeView>*@

@* <!-- Image element - set the background image for the header in the line below -->
    <div class="py-5 bg-image-full" style="background-image: url('img/bg-callout.jpg');">

        <div style="height: 200px;">
    Put anything you want here! There is just a spacer below for demo purposes!
        </div>
    </div>

     Content section
    <section class="py-5">
        <div class="container">
            <h1>Section Heading</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
        </div>
    </section>*@