@page "/"
@inject IJSRuntime js


<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="   background-image: url('img/bg-masthead.jpg');
        background-size: cover;">
    <img class="img-fluid d-block mx-auto" style="width:25%;" src="img/Transparentmdpi.png" alt="">
</header>

<!-- Content section -->
<section class="py-5">
    <div class="container">
        <h1>حالات مهووس</h1>
        <p class="lead">اكبر موقع عربي مختصّ بجميع انواع الحالات العربية.</p>
        <p>نحن فريق مكوّن من عدة شباب هدفنا ان نمتلك أكبر تجمع حالات عربية في الوطن العربي، لدينا العدين من تطبيقات الموبايل لتحميل الحالات العربية بجميع أنواعها <br /> (حالات فيديو - حالات صور - حالات كتابية) والمزيد..</p>
    </div>
</section>


@*<AuthorizeView Roles="admin">
    <p>You can only see this if you're an admin.</p>
</AuthorizeView>

<AuthorizeView Roles="user">
    <p>You can only see this if you're an user.</p>
</AuthorizeView>*@

@* <!-- Image element - set the background image for the header in the line below -->
    <div class="py-5 bg-image-full" style="background-image: url('img/bg-callout.jpg');">

        <div style="height: 200px;">
    Put anything you want here! There is just a spacer below for demo purposes!
        </div>
    </div>

     Content section
    <section class="py-5">
        <div class="container">
            <h1>Section Heading</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
        </div>
    </section>*@