@page "/apps/{id:int}"
@layout AdminLayout
@inject MahwousRepositories repositories

Id is:
@if (app != null)
{
    <h3>@app.Id</h3>
}


@code {
    [Parameter] public int id { get; set; }
    MahwousWeb.Shared.Models.App app;

    protected async override Task OnParametersSetAsync()
    {
        app = await repositories.AppsRepository.Get(id);
    }
}

