@page "/PrivacyPolicy"
    <div class="container p-5">
        <div dir="rtl" style="text-align: right;" trbidi="on">
            <div dir="rtl" style="text-align: right;" trbidi="on">
                <style type="text/css">


                    h2, h3, p {
                        text-align: right;
                    }

                    a {
                        text-decoration: none;
                        font-size: 16px;
                        color: #00F;
                        text-align: right;
                    }
                </style>

                <br />
                <div style="line-height: 2; line-height: 2; text-align: justify;">
                    <h3 style="text-align: center;">
                        <span style="font-size: x-large;">سياسة الخصوصية في موقع مهووس</span>
                    </h3>
                    خصوصيتك أيها الزائر لها أهمية بالغة بالنسبة لنا ، و سياسة الخصوصية الموجودة في هذه الوثيقة تمثل الخطوط العريضة لأنواع المعلومات الشخصية التي يجمعها موقع&nbsp;<b style="color: red;">مهووس</b>&nbsp;وكيفية استخدام هذه المعلومات.<br />
                    <div style="line-height: 2; text-align: justify;">
                        نحن نستعين بشركات إعلان كطرف ثالث لعرض الإعلانات ، وعندما تزور موقع&nbsp;<span style="color: red;"><b><a href="https://www.mahwous.com/" target="_blank">مهووس</a></b></span>&nbsp;فـ إنه يحق لهذه الشركات أن تستخدم معلومات حول زياراتك لهذا الموقع ( باستثناء الاسم أو العنوان أو عنوان البريد الإلكتروني أو رقم الهاتف ) وذلك من أجل تقديم إعلانات حول البضائع والخدمات التي تهمك عن طريق <a href="https://www.doubleclickbygoogle.com/" target="_blank">ملف تعريف الإرتباط</a>.<br />
                        <br />
                    </div>
                    <div style="line-height: 2; text-align: justify;">
                        نحن في&nbsp;<b style="color: red;">مهووس</b>&nbsp;نستخدم إعلانات Google بصفتها مورِّدًا مالياً خارجياً ، ولذلك تستخدم شركة جوجل&nbsp;<a href="https://www.doubleclickbygoogle.com/" target="_blank">ملفات تعريف الارتباط</a> لعرض الإعلانات على موقعنا.
                    </div>
                    <div style="line-height: 2; text-align: justify;">
                        <br />
                    </div>
                    <div style="line-height: 2; text-align: justify;">
                        وبذلك ستتمكّن Google ، باستخدام ملف تعريف الارتباط <b>DART</b> ، من عرض الإعلانات "حسب الاهتمامات" للمستخدمين استنادًا إلى زياراتهم لموقعنا.
                    </div>
                    <div style="text-align: justify;">
                        <br />
                    </div>
                    <div style="line-height: 2; text-align: justify;">
                        ويمكن لزوارنا الكرام تعطيل استخدام ملف تعريف الارتباط <b>DART</b> بزيارة <a href="http://www.google.com/policies/technologies/ads/" target="_blank">سياسة الخصوصية الخاصة بإعلانات Google وشبكة المحتوى</a>.
                    </div>
                    <div>
                        <div style="text-align: justify;">
                            <h4>
                                <b><span style="font-size: large;">ملفات الدخول:</span></b>
                            </h4>
                        </div>
                        <div style="line-height: 2; text-align: justify;">
                            شأنها في ذلك شأن معظم خوادم المواقع الأخرى ، ومن هنا فإن موقع&nbsp;<b style="color: red;">مهووس</b>&nbsp;يستخدم نظام ملفات الدخول ، وهذا يشمل بروتوكول الانترنت (عناوين ، نوع المتصفح ، مزود خدمة الانترنت "مقدمي خدمات الانترنت" ، &nbsp;التاريخ / الوقت ، وعدد النقرات لتحليل الاتجاهات).
                        </div>
                    </div>
                    <div>
                        <div style="text-align: justify;">
                            <br />
                        </div>
                    </div>
                    <div>
                        <div>
                            <div style="line-height: 2; text-align: justify;">
                                من خلال هذه العملية لا يقصد بذلك جمع كل هذه المعلومات في سبيل التلصص على أمور الزوار الشخصية ، وإنما هي أمور تحليلية لأغراض تحسين جودة الإعلانات من قبل <b>Google</b> ، ويضاف إلى ذلك أن جميع هذه المعلومات المحفوظة من قبلنا سرية تماما، وتبقى ضمن نطاق التطوير والتحسين الخاص بموقعنا فقط.
                            </div>
                        </div>
                        <div>
                            <div style="text-align: justify;">
                                <h4>
                                    <b><span style="font-size: large;">الكوكيز وإعدادات الشبكة:</span></b>
                                </h4>
                            </div>
                        </div>
                        <div>
                            <div style="line-height: 2; text-align: justify;">
                                إن شركة <b>Google</b> تستخدم تقنية الكوكيز لتخزين المعلومات عن إهتمامات الزوار، إلى جانب سجل خاص للمستخدم تسجل فيه معلومات محددة عن الصفحات التي تم الوصول إليها أو زيارتها، وبهذه الخطوة فإننا نعرف مدى اهتمامات الزوار وأي المواضيع الأكثر تفضيلا من قبلهم حتى نستطيع بدورنا تطوير محتوانا الخدمي والمعرفي المناسب لهم.
                            </div>
                        </div>
                        <div>
                            <div style="text-align: justify;">
                                <br />
                            </div>
                        </div>
                        <div>
                            <div style="line-height: 2; text-align: justify;">
                                نضيف إلى ذلك أن بعض الشركات التي تعلن في&nbsp;<b style="color: red;">مهووس</b>&nbsp;قد تتطلع على الكوكيز وإعدادات الشبكة الخاصة بموقعنا وبكم ،&nbsp;ومن هذه الشركات مثلاً شركة <b>Google</b> وبرنامجها الإعلاني <a href="https://accounts.google.com/ServiceLogin?service=adsense&amp;rm=hide&amp;nui=15&amp;alwf=true&amp;ltmpl=adsense&amp;passive=true&amp;continue=https://www.google.com/adsense/gaiaauth2?hl%3Den_US%26subid%3Dww-en_US-et-ads%26sourceid%3Daso%26medium%3Dlink&amp;followup=https://www.google.com/adsense/gaiaauth2?hl%3Den_US%26subid%3Dww-en_US-et-ads%26sourceid%3Daso%26medium%3Dlink&amp;hl=en_US#identifier" target="_blank">Google AdSense</a> وهي شركة الإعلانات الأولى في موقعنا.
                            </div>
                        </div>
                        <div>
                            <div style="text-align: justify;">
                                <br />
                            </div>
                        </div>
                        <div>
                            <div style="line-height: 2; text-align: justify;">
                                وبالطبع فمثل هذه الشركات المعلنة والتي تعتبر الطرف الثالث في سياسة الخصوصية فهي تتابع مثل هذه البيانات والإحصائيات عبر بروتوكولات الانترنت لأغراض تحسين جودة إعلاناتها وقياس مدى فعاليتها.
                            </div>
                        </div>
                        <div>
                            <div style="text-align: justify;">
                                <br />
                            </div>
                        </div>
                        <div>
                            <div style="line-height: 2; text-align: justify;">
                                كما أن هذه الشركات بموجب الاتفاقيات المبرمة معنا يحق لها استخدام وسائل تقنية مثل ( الكوكيز ، و إعدادات الشبكة ، و أكواد برمجية خاصة "جافا سكربت" ) لنفس الأغراض المذكورة أعلاه والتي تتلخص في تطوير المحتوى الإعلاني لهذه الشركات وقياس مدى فاعلية هذه الإعلانات ، من دون أي أهداف أخرى قد تضر بشكل أو بآخر على زوار موقعنا.
                            </div>
                        </div>
                        <div>
                            <div style="text-align: justify;">
                                <br />
                            </div>
                        </div>
                        <div>
                            <div style="line-height: 2; text-align: justify;">
                                وبالطبع فإن موقع&nbsp;<b style="color: red;"><a href="https://www.mahwous.com/" target="_blank">مهووس</a></b>&nbsp;لا يستطيع الوصول أو السيطرة على هذه الملفات، وحتى بعد سماحك وتفعيلك لأخذها من جهازك (الكوكيز) ، كما أننا غير مسؤولين بأي شكل من الأشكال عن الاستخدام غير الشرعي لها إن حصل ذلك .
                            </div>
                        </div>
                        <div>
                            <div style="text-align: justify;">
                                <br />
                            </div>
                        </div>
                        <div>
                            <div style="line-height: 2; text-align: justify;">
                                عليك مراجعة سياسة الخصوصية الخاصة بالطرف الثالث في هذه الوثيقة &nbsp;( الشركات المعلنة مثل&nbsp;<a href="https://accounts.google.com/ServiceLogin?service=adsense&amp;rm=hide&amp;nui=15&amp;alwf=true&amp;ltmpl=adsense&amp;passive=true&amp;continue=https://www.google.com/adsense/gaiaauth2?hl%3Den_US%26subid%3Dww-en_US-et-ads%26sourceid%3Daso%26medium%3Dlink&amp;followup=https://www.google.com/adsense/gaiaauth2?hl%3Den_US%26subid%3Dww-en_US-et-ads%26sourceid%3Daso%26medium%3Dlink&amp;hl=en_US#identifier" target="_blank">Google AdSense</a>&nbsp;) أو خوادم الشبكات&nbsp;الإعلانية لمزيد من المعلومات عن ممارساتها وأنشطتها المختلفة .
                            </div>
                        </div>
                        <div>
                            <div style="text-align: justify;">
                                <br />
                            </div>
                        </div>
                        <div style="line-height: 2; text-align: justify;">
                            لمراجعة سياسة الخصوصية للبرنامج الإعلاني&nbsp;<a href="https://accounts.google.com/ServiceLogin?service=adsense&amp;rm=hide&amp;nui=15&amp;alwf=true&amp;ltmpl=adsense&amp;passive=true&amp;continue=https://www.google.com/adsense/gaiaauth2?hl%3Den_US%26subid%3Dww-en_US-et-ads%26sourceid%3Daso%26medium%3Dlink&amp;followup=https://www.google.com/adsense/gaiaauth2?hl%3Den_US%26subid%3Dww-en_US-et-ads%26sourceid%3Daso%26medium%3Dlink&amp;hl=en_US#identifier" target="_blank">Google AdSense</a>&nbsp;والتابع لشركة <b>Google </b>يرجى النقر <a href="http://www.google.com/policies/technologies/ads/" target="_blank">هنا</a>
                        </div>
                        <div>
                            <div style="text-align: justify;">
                                <br />
                            </div>
                        </div>
                        <div>
                            <div style="line-height: 2; text-align: justify;">
                                يُمكن جمع البيانات لتجديد النشاط التسويقي على الشبكة الإعلانية وشبكة البحث عبر &nbsp;سياسة الإعلانات التي تستهدف الاهتمامات والمواقع الخاصة بالزوار ، ويمكن تعطيل هذه الخاصية من <a href="https://tools.google.com/dlpage/gaoptout/?hl=ar" target="_blank">هنا</a>.
                            </div>
                        </div>
                        <div>
                            <div style="text-align: justify;">
                                <br />
                            </div>
                        </div>
                        <div>
                            <div style="line-height: 2; text-align: justify;">
                                وأخيرا .. نحن ملزمون ضمن بنود هذه الاتفاقية بان نبين لك كيفية تعطيل خاصية الكوكيز ، حيث يمكنك فعل ذلك من خلال خيارات المتصفح الخاص بك، أو من خلال متابعة &nbsp;<a href="http://www.google.com/policies/technologies/ads/" target="_blank">سياسة الخصوصية الخاصة بإعلانات Google وشبكة المحتوى</a> .
                            </div>
                        </div>
                        <div>
                            <div style="text-align: justify;">
                                <br />
                            </div>
                        </div>
                        <div>
                            <div style="line-height: 2; text-align: justify;">
                                إذا كنت بحاجة إلى مزيد من المعلومات أو لديك أية أسئله عن سياسة الخصوصية ، لا تتردد في الاتصال بنا عن طريق نموذج الإتصال ، بالدخول إلى تبويب اتصل بنا.
                            </div>
                        </div>
                        <div>
                            <div style="text-align: justify;">
                                بنود هذه السياسة قابلة للتطوير والتغيير في محتواها في أي وقت نراه ضرورياً .
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: justify;">
                    <br />
                </div>
            </div>
        </div>
        صفحة سياسة الخصوصية.xml
        Displaying صفحة سياسة الخصوصية.xml.

    </div>


    @*<div dir="rtl" style="text-align: right;" trbidi="on">
            <div style="text-align: right;">
                <b>سياسة الخصوصية</b> لـ <span style="color: red;"><b><a href="https://www.mahwous.com/" target="_blank">مهووس</a></b></span>
            </div>
            <div style="text-align: right;">
            </div>
            <div style="text-align: right;">
                إذا كنت بحاجة إلى أي مزيد من المعلومات أو لديك أية أسئلة عن سياسة
                الخصوصية ، لا تتردد في الاتصال بنا عن طريق نموذج الإتصال التالي <span style="color: red;"><a href="/contactus">هنا</a></span><span style="color: red;"> </span>.
            </div>
            <div style="text-align: right;">
            </div>
            <div style="text-align: right;">
                في <b><a href="https://www.mahwous.com/" target="_blank"><span style="color: red;">مهووس</span></a><span style="color: red;"></span></b> ، خصوصية زوارنا لها أهمية بالغة بالنسبة لنا . توجز هذه الوثيقة سياسة الخصوصية لأنواع المعلومات الشخصية التي تجمعها وتلقى <a href="https://www.mahwous.com/" target="_blank"><b><span style="color: red;">مهووس</span></b></a> و كيفية استخدامها .
            </div>
            <div style="text-align: right;">
                <b>ملفات الدخول:</b>
            </div>
            <div style="text-align: right;">
                مثل العديد من مواقع ويب أخرى، <a href="https://www.mahwous.com/" target="_blank"><b><span style="color: red;">مهووس</span></b></a>
                يجعل استخدام ملفات السجل. المعلومات داخل ملفات الدخول يشمل بروتوكول (IP
                ) عناوين الإنترنت ، نوع المتصفح ، مزود خدمة الانترنت ( ISP) ، طابع
                التاريخ / الوقت ، في اشارة / الخروج الصفحات، و عدد النقرات ل تحليل
                الاتجاهات وإدارة حركة الموقع، تعقب المستخدم 'ق حول الموقع، وجمع
                المعلومات الديموغرافية . لا ترتبط عناوين بروتوكول الإنترنت، وغيرها من
                مثل هذه المعلومات ل أية معلومات هو ان تحدد هويتك .
            </div>
            <div style="text-align: right;">
            </div>
            <div style="text-align: right;">
                <b>الكوكيز و إعدادات الشبكة</b>
            </div>
            <div style="text-align: right;">
                <a href="https://www.mahwous.com/" target="_blank"><span style="color: red;"><b>مهووس</b></span></a> لا
                تستخدم الكوكيز لتخزين المعلومات عن تفضيلات الزوار ، سجل للمستخدم معلومات
                محددة عن الصفحات التي المستخدم الوصول أو زيارة، وتخصيص محتوى صفحة ويب
                استنادا إلى نوع المتصفح الزوار أو معلومات أخرى عندما يرسل الزائر معلومات
                عبر المتصفح .<span style="color: #0000ee;"><u><b>13</b></u></span><br />
            </div>
            <div style="text-align: right;">
            </div>
            <div style="text-align: right;">
                <b>دبل كليك سهم كوكي</b>
            </div>
            <div style="text-align: right;">
                . :: جوجل، كبائع لطرف ثالث ، يستعمل الكوكيز لخدمة الإعلانات على <b><span style="color: red;"><span style="color: red;"><a href="https://www.mahwous.com/" target="_blank">مهووس</a></span>&nbsp;</span></b> .
            </div>
            <div style="text-align: right;">
                . :: استخدام جوجل لل سهم الكوكي يمهد لخدمة الإعلانات للمستخدمين استنادا إلى زياراتهم ل <a href="https://www.mahwous.com/" target="_blank"><b><span style="color: red;">مهووس</span></b></a> وغيرها من المواقع على شبكة الإنترنت.
            </div>
            <div style="text-align: right;">
                . :: يجوز للمستخدمين اختيار عدم استخدام الكوكيز DART عن طريق زيارة جوجل
                الإعلانية للمحتوى والخصوصية الشبكة على العنوان التالي -
                http://www.google.com/privacy_ads.html
            </div>
            <div style="text-align: right;">
                بعض شركائنا الإعلان قد تستخدم الكوكيز ومنارات الويب على موقعنا. ويشمل الشركاء الاعلانات ....
            </div>
            <div style="text-align: right;">
                جوجل ادسنس
            </div>
            <div style="text-align: right;">
                هذه الخدمة الإعلانية لجهة خارجية أو استخدام تكنولوجيا الشبكات الإعلانية إلى إعلانات و الروابط التي تظهر على <a href="https://www.mahwous.com/" target="_blank"><b><span style="color: red;">مهووس</span></b></a>
                ترسل مباشرة إلى المتصفحات. أنها تحصل تلقائيا على عنوان بروتوكول
                الإنترنت وعندما يحدث هذا . قد تكنولوجيات أخرى (مثل الكعكات ، وجافا
                سكريبت ، أو عدادات الشبكة ) يمكن أن تستخدم من قبل شبكات الإعلان من طرف
                ثالث ل قياس فعالية إعلاناتها و / أو ل إضفاء الصفة الشخصية على محتوى
                الإعلان الذي تراه .
            </div>
            <div style="text-align: right;">
            </div>
            مؤسسة النبأ للخدمات الاستشارية والبحوث الاكاديمية
            <div style="text-align: right;">
                <a href="https://www.mahwous.com/" target="_blank"><b><span style="color: red;">مهووس</span></b></a> لا يوجد لديه أو الحصول على السيطرة على هذه الكعكات التي يستخدمها طرف ثالث معلنين .
            </div>
            <div style="text-align: right;">
            </div>
            <div style="text-align: right;">
                يجب عليك استشارة كل سياسة الخصوصية الخاصة بهذه الخدمة الإعلانية لجهة
                خارجية للحصول على معلومات أكثر تفصيلا عن ممارساتها و كذلك للحصول على
                تعليمات حول كيفية الخروج من بعض الممارسات. لا تنطبق سياسة الخصوصية <a href="https://www.mahwous.com/" target="_blank"><b><span style="color: red;">مهووس</span></b></a> ' عليها، و نحن لا نستطيع السيطرة على أنشطة مثل المعلنين الآخرين أو مواقع الإنترنت.
            </div>
            <div style="text-align: right;">
            </div>
            <div style="text-align: right;">
                إذا كنت ترغب في تعطيل الكوكيز ، يمكنك فعل ذلك من خلال خيارات المتصفح
                الخاص بك الفردية . معلومات أكثر تفصيلا حول إدارة الكعكة مع متصفحات ويب
                محددة يمكن الاطلاع على المواقع الالكترونية لبرامج التصفح .
            </div>
            <div style="text-align: right;">
            </div>
        </div>*@