@page "/administration/posts/create"
@layout AdminLayout
@attribute [Authorize]
@inject MahwousRepositories repositories
@inject NavigationManager navigation

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">منشور جديد</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">اضافة منشور</li>
                    <li class="breadcrumb-item"><a href="administration/posts">المنشورات</a></li>
                    <li class="breadcrumb-item"><a href="administration">الإدارة</a></li>
                    <li class="breadcrumb-item"><a href="">الصفحة الرئيسية</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">

        <PostForm ButtonText="إضافة منشور" Post="post" OnValidSubmit="CreatePost" />

    </div>
</div>

@code {
    Post post = new Post();

    protected async override Task OnInitializedAsync()
    {
        // to give tokens to api :)
        //await authorizer.SetAuthorizationAsync();
    }

    async Task CreatePost()
    {
        try
        {
            await repositories.PostsRepository.Add(post);
            navigation.NavigateTo("administration/posts");

        }
        catch (Exception ex)
        {
            Console.WriteLine("Error: " + ex.Message);
        }
    }
}