@page "/AboutUs"


<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">صفحة من نحن</h1>
                <p class="lead text-muted mb-0">لمحة تعريفية عن الشركة وتاريخها واهدافها والفريق العاملين بها.</p>
                <p class="lead text-muted">
                    نحن نعمل من اجل خدمتكم.
                </p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt="" class="img-fluid"></div>
        </div>
    </div>
</div>

<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1">
                <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">نبذة عن الموقع</h2>
                <p class="font-italic text-muted mb-4">موقع مهووس هو عبارة عن موقع محتوى عربي يهتم بمجال الحالات العربية بأنواعها من فيديوهات صور وحالات كتابية ، نجمع لكم الحالات العربية من مصادر مختلفة ونضعها بين أيديكم في مكان واحد ، نحن نمتلك العديد من تطبيقات الهاتف وصفحات التواصل الإجتماعي بالإضافة إلى هذا الموقع الرسمي الخاص بنا، تم تأسيس شركة مهووس في عام 2018 المؤسس: بشير منافيخي.</p>@*<a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>*@
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6">
                <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">مميزات الموقع</h2>
                <p class="font-italic text-muted mb-4">يتميز موقعنا بإمكانية تحميل الحالات بسهولة وبشكل مباشر كما أننا نتميز بأننا نمتلك أضخم محتوى حالات عربية في العالم العربي.</p>@*<a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>*@
            </div>
        </div>
    </div>
</div>

<div class="bg-light py-5">
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">فريقنا</h2>
                <p class="font-italic text-muted">نحن لسنا مجرد فريق عمل، بل نحن عائلة نتساعد لبذل مجهود أفضل.</p>
            </div>
        </div>

        <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="website/images/team/1.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">بشير منافيخي</h5><span class="small text-uppercase text-muted"> مدير - مطور برامج</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a target="" href="https://www.facebook.com/bashir.manafikhi" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a target="_blank" href="https://twitter.com/BashirManafikhi" class="social-link"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/bashirmanafikhi/" class="social-link"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/bashir-manafikhi/" class="social-link"><i class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a target="_blank" href="https://wa.me/+905370466004" class="social-link"><i class="fab fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="website/images/team/2.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">عبد الرحمن حموي</h5><span class="small text-uppercase text-muted">مسوق إلكتروني</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/mody240" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
                        @*<li class="list-inline-item"><a target="_blank" href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>*@
                        <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/aboda.hamwi/" class="social-link"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a target="_blank" href="https://wa.me/+905352856693" class="social-link"><i class="fab fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="website/images/team/3.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">أحمد نحاس</h5><span class="small text-uppercase text-muted">مطور برامج</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/profile.php?id=100021578800007" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
                        @*<li class="list-inline-item"><a target="_blank" href="https://mobile.twitter.com/AhmetBa24416954" class="social-link"><i class="fab fa-twitter"></i></a></li>*@
                        <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/ahmetbakirci30/" class="social-link"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/ahmed-nehhas-a90210202" class="social-link"><i class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a target="_blank" href="https://wa.me/+905383754105" class="social-link"><i class="fab fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">عبد الرحيم منافيخي</h5><span class="small text-uppercase text-muted">مخطط - مبرمج</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/abdulrahim.manafikhi.7" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
                        @*<li class="list-inline-item"><a target="_blank" href="#" class="social-link"><i class="fab fa-twitter"></i></a></li>*@
                        <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/abdulrahim_mnf/" class="social-link"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a target="_blank" href="https://wa.me/+905519785935" class="social-link"><i class="fab fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->

        </div>
    </div>
</div>


<footer class="bg-light pb-5">
    <div class="container text-center">
        <p class="font-italic text-muted mb-0">&copy; جميع الحقوق محفوظة لدى شركة مهووس.</p>
    </div>
</footer>