@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager




    



    <AuthorizeView>
        <Authorized>
            <li class="nav-item d-none d-sm-inline-block">
                <a class="nav-link" href="authentication/profile">@context.User.Identity.Name</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a class="nav-link" href="authentication/register">حساب جديد</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <button class="btn btn-link nav-link text-danger" @onclick="BeginSignOut">تسجيل الخروج</button>
            </li>
        </Authorized>
        <NotAuthorized>
            <li class="nav-item d-none d-sm-inline-block">
                <a class="nav-link text-success" href="authentication/login">تسجيل الدخول</a>
            </li>
        </NotAuthorized>
    </AuthorizeView>

    @code{
        private async Task BeginSignOut(MouseEventArgs args)
        {
            await SignOutManager.SetSignOutState();
            Navigation.NavigateTo("authentication/logout");
        }
    }
