<AuthorizeView>
    <Authorized>
        <a href="accounts/Register" class="nav-link btn btn-link">حساب جديد</a>
        <a href="accounts/Logout" class="nav-link btn btn-link">تسجيل الخروج</a>
        <span class="navbar-text">مرحباً @context.User.Identity.Name!</span>
    </Authorized>
    <NotAuthorized>
        <a href="accounts/Login" class="nav-link btn btn-link">تسجيل الدخول</a>
    </NotAuthorized>
</AuthorizeView>