@page "/administration"
@layout AdminLayout
@using Mahwous.UI.Pages.Statistics


<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="">الصفحة الرئيسية</a></li>
    <li class="breadcrumb-item active">الإدارة</li>
</ol>


<StatisticsComponent />
