@page "/posts/{id:int}"
@inject MahwousRepositories repositories


<div class="container">
    <div class="card my-4">

        <div class="card-header">

        </div>

        <div class="card-body">
            @if (post != null)
            {
                <div class="card text-center">
                    <div class="card-header p-0">
                        <img src="@post.ImagePath" style="height: auto; width: auto; max-height: 100%;  max-height: 260px; object-fit: cover" />
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">@post.Title</h4>
                        <pre class="card-text">@post.Content</pre>
                    </div>

                    <div class="card-footer">
                        <AuthorizeView>
                            <Authorized>
                                <a class="btn btn-info" href="administration/posts/edit/@post.Id">تعديل</a>
                            </Authorized>
                        </AuthorizeView>
                        <a class="btn btn-info" href="posts">رجوع</a>
                    </div>
                </div>
            }
            else
            {
                <p><i class="fas fa-spin fa-spinner"></i> جاري تحميل المنشور </p>
            }
        </div>

        <div class="card-footer">

        </div>

    </div>
</div>



@code {
    [Parameter] public int id { get; set; }
    MahwousWeb.Shared.Models.Post post;

    protected async override Task OnParametersSetAsync()
    {
        post = await repositories.PostsRepository.Get(id);
    }
}
