@inherits LayoutComponentBase
@inject IJSRuntime js



<div class="d-flex @(toggled ? "toggled" : "")" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-dark border-right" id="sidebar-wrapper">

        @*<p class="sidebar-heading text-center text-white">مهووس</p>*@
        <a href="#">
            <img class="img-fluid my-0 py-0" src="img/Transparent copymdpi.png" alt="">
        </a>
        <NavMenu />
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper" class="d-inline-flex flex-column justify-content-between">

        <div>
            <nav class="navbar navbar-expand navbar-white navbar-dark bg-dark border-bottom">

                <div class="navbar w-100 order-1 order-md-0">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <button class="btn btn-link btn-lg text-danger" @onclick="Toggle"><i class="fas fa-bars"></i></button>
                        </li>
                        <li class="nav-item d-none d-md-inline-block">
                            <a href="videos" class="nav-link">فيديو</a>
                        </li>
                        <li class="nav-item d-none d-md-inline-block">
                            <a href="images" class="nav-link">صور</a>
                        </li>
                        <li class="nav-item d-none d-md-inline-block">
                            <a href="quotes" class="nav-link">اقتباسات</a>
                        </li>
                        <li class="nav-item d-none d-md-inline-block">
                            <a href="posts" class="nav-link">الأخبار</a>
                        </li>
                        <li class="nav-item d-none d-md-inline-block">
                            <a href="apps" class="nav-link">تطبيقاتنا</a>
                        </li>
                    </ul>
                </div>



                <!-- Navbar Search-->
                @*<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="بحث عن .." aria-label="Search" aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <button class="btn btn-danger" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>*@
                <!-- Navbar-->
                @*<ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">

                    <a class="dropdown-item" href="#">راسلنا</a>
                    <a class="dropdown-item" href="#">من نحن؟</a>

                    <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Activity Log</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">تسجيل الخروج</a>
                </div>
            </li>
        </ul>*@


                <div class="mx-auto order-0">
                    <a class="navbar-brand mx-auto" href="/">مهووس</a>
                </div>




                <div class="navbar-nav w-100 order-3">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/ContactUs">تواصل معنا</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/AboutUs">من نحن؟</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/PrivacyPolicy">سياسة الخصوصية</a>
                        </li>
                    </ul>
                </div>
            </nav>



            @*<nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Left</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="//codeply.com">Codeply</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                    </ul>
                </div>
                <div class="mx-auto order-0">
                    <a class="navbar-brand mx-auto" href="/">مهووس</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Right</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                    </ul>
                </div>
            </nav>*@






            <div class="container-fluid px-0">

                @Body

            </div>

        </div>

        <Footer />

    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


@code{
    bool toggled = true;
    void Toggle()
    {
        toggled = !toggled;
    }
}
