
    <div class="list-group list-group-flush">
        <NavLink class="list-group-item list-group-item-mine" href="" Match="NavLinkMatch.All">
            <i class="fas fa-home"></i> الرئيسية
        </NavLink>

        <NavLink class="list-group-item list-group-item-mine" href="quotes">
            <i class="fas fa-quote-right"></i> الحالات الكتابية
        </NavLink>
        
        <NavLink class="list-group-item list-group-item-mine" href="infinitescroll">
            <i class="fas fa-scroll"></i> كتابية صفحة واحدة
        </NavLink>

        <NavLink class="list-group-item list-group-item-mine" href="videos">
            <i class="fas fa-video"></i> الحالات الفيديو
        </NavLink>
        
        <NavLink class="list-group-item list-group-item-mine" href="images">
            <i class="fas fa-images"></i> الصور
        </NavLink>
        
        <NavLink class="list-group-item list-group-item-mine" href="posts">
            <i class="fas fa-newspaper"></i> الأخبار
        </NavLink>
        
        <NavLink class="list-group-item list-group-item-mine" href="apps">
            <i class="fas fa-mobile-alt"></i> تطبيقاتنا
        </NavLink>
        
        <NavLink class="list-group-item list-group-item-mine" href="statistics">
            <i class="fas fa-chart-line"></i> احصائيات
        </NavLink>

        <NavLink class="list-group-item list-group-item-mine" href="administration">
            <i class="fas fa-user-cog"></i> الإدارة
        </NavLink>
    </div>
